In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Data Collection

### Files sources

In [2]:
import requests

# URLs of the files
train_data_url_StoreA = 'https://www.raphaelcousin.com/modules/module4/exercise/CityMart_data.csv'
train_data_url_StoreB = 'https://www.raphaelcousin.com/modules/module4/exercise/Greenfield_Grocers_data.csv'
train_data_url_StoreC = 'https://www.raphaelcousin.com/modules/module4/exercise/SuperSaver_Outlet_data.xlsx'
train_data_url_StoreD = 'https://www.raphaelcousin.com/modules/module4/exercise/HighStreet_Bazaar_data.json'

test_data_url = 'https://www.raphaelcousin.com/modules/module3/exercise/Neighborhood Market_data.csv'

# Function to download a file
def download_file(url, file_name):
    response = requests.get(url)
    response.raise_for_status()  # Ensure we notice bad responses
    with open(file_name, 'wb') as file:
        file.write(response.content)
    print(f'Downloaded {file_name} from {url}')

# Downloading the files
download_file(train_data_url_StoreA, 'CityMart_data.csv')
download_file(train_data_url_StoreB, 'Greenfield_Grocers_data.csv')
download_file(train_data_url_StoreC, 'SuperSaver_Outlet_data.xlsx')
download_file(train_data_url_StoreD, 'HighStreet_Bazaar_data.json')

download_file(test_data_url, 'Neighborhood Market_data.csv')

Downloaded CityMart_data.csv from https://www.raphaelcousin.com/modules/module4/exercise/CityMart_data.csv
Downloaded Greenfield_Grocers_data.csv from https://www.raphaelcousin.com/modules/module4/exercise/Greenfield_Grocers_data.csv
Downloaded SuperSaver_Outlet_data.xlsx from https://www.raphaelcousin.com/modules/module4/exercise/SuperSaver_Outlet_data.xlsx
Downloaded HighStreet_Bazaar_data.json from https://www.raphaelcousin.com/modules/module4/exercise/HighStreet_Bazaar_data.json
Downloaded Neighborhood Market_data.csv from https://www.raphaelcousin.com/modules/module3/exercise/Neighborhood Market_data.csv

#### CityMart

In [3]:
# read
df_StoreA =  pd.read_csv("CityMart_data.csv", sep=",", index_col='item_code')
df_StoreA

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1984,CityMart,8.24,99.78,68.06,11.87,117,80609.488116,333,263,2028-06-06
P1989,CityMart,5.79,71.19,92.39,63.98,250,420812.077518,417,238,2028-06-11
P1992,CityMart,8.64,97.57,8.58,83.35,348,69776.502510,489,219,2028-06-14
P1996,CityMart,9.90,66.40,75.90,9.88,101,49792.828800,501,232,2028-06-18
P1998,CityMart,3.78,17.19,21.02,37.04,82,13383.803952,800,192,2028-06-20

#### Greenfield_Grocers

In [4]:
# read
df_StoreB =  pd.read_csv("Greenfield_Grocers_data.csv", sep="|", header=3, index_col='ITEM_CODE')
df_StoreB

,STORE_NAME,MASS,DIMENSION_LENGTH,DIMENSION_WIDTH,DIMENSION_HEIGHT,DAYS_SINCE_LAST_PURCHASE,PACKAGE_VOLUME,STOCK_AGE,QUANTITY_SOLD,LAST_MODIFIED,1,Unnamed: 12
ITEM_CODE,,,,,,,,,,,,
P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.180384,450,130,2023-01-06,NaN,NaN
P0014,Greenfield_Grocers,9.91,21.67,54.91,84.80,99,100903.494560,827,118,2023-01-14,NaN,NaN
P0016,Greenfield_Grocers,1.13,60.03,97.39,90.00,348,526168.953000,981,136,2023-01-16,NaN,NaN
P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.956576,289,155,2023-01-21,NaN,NaN
P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.634023,31,154,2028-06-05,NaN,NaN
P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07,NaN,NaN
P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757868,770,162,2028-06-10,NaN,NaN
P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12,NaN,NaN
P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17,NaN,NaN

In [5]:
# format
df_StoreB.drop(['1', 'Unnamed: 12'], axis=1, inplace=True)
df_StoreB.columns = [col.lower() for col in df_StoreB.columns]
df_StoreB.rename_axis(df_StoreB.index.name.lower(), inplace=True)
df_StoreB

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0006,Greenfield_Grocers,5.02,86.68,71.64,16.42,66,101964.180384,450,130,2023-01-06
P0014,Greenfield_Grocers,9.91,21.67,54.91,84.80,99,100903.494560,827,118,2023-01-14
P0016,Greenfield_Grocers,1.13,60.03,97.39,90.00,348,526168.953000,981,136,2023-01-16
P0021,Greenfield_Grocers,0.95,40.36,67.91,99.76,301,273426.956576,289,155,2023-01-21
P0028,Greenfield_Grocers,5.24,22.37,61.78,68.67,15,94903.217262,423,177,2023-01-28
...,...,...,...,...,...,...,...,...,...,...
P1983,Greenfield_Grocers,3.13,37.39,74.87,84.11,168,235456.634023,31,154,2028-06-05
P1985,Greenfield_Grocers,0.66,30.04,15.77,70.62,5,33454.869096,76,73,2028-06-07
P1988,Greenfield_Grocers,7.28,7.34,89.94,37.33,92,24643.757868,770,162,2028-06-10
P1990,Greenfield_Grocers,6.71,73.91,10.24,89.64,9,67842.994176,968,115,2028-06-12
P1995,Greenfield_Grocers,8.42,83.07,19.07,10.84,248,17172.130716,296,98,2028-06-17

#### Outlet_data

In [6]:
# read
df_StoreCs =  pd.read_excel("SuperSaver_Outlet_data.xlsx", sheet_name=None)
df_StoreCs

{'Quantity':     item_code  quantity_sold
 0       P0003            198
 1       P0007            211
 2       P0008            200
 3       P0009            209
 4       P0012            186
 ..        ...            ...
 374     P1976            236
 375     P1980            192
 376     P1986            193
 377     P1993            185
 378     P2000            250

 [379 rows x 2 columns],
 'Info':     Unnamed: 0          item code  store name   mass  dimension length  \
 0        P0003  SuperSaver_Outlet        2.40  50.90              8.80
 1        P0007  SuperSaver_Outlet        9.88  43.65             48.64
 2        P0008  SuperSaver_Outlet        1.45  36.18             10.23
 3        P0009  SuperSaver_Outlet        6.98  48.13             45.55
 4        P0012  SuperSaver_Outlet        7.20  23.66             65.90
 ..         ...                ...         ...    ...               ...
 374      P1976  SuperSaver_Outlet        5.10  62.99             49.16
 375      P1980  SuperSaver_Outlet        4.93  74.91             53.25
 376      P1986  SuperSaver_Outlet        4.24  31.52             73.46
 377      P1993  SuperSaver_Outlet        3.21  97.68             39.88
 378      P2000  SuperSaver_Outlet        4.94  98.34             72.87

      dimension width  dimension height  days_since last_purchase  \
 0              68.82               337              30825.854400
 1              55.78                16             118428.526080
 2              69.14               315              25590.193596
 3              44.66               295              97909.078190
 4              12.05                40              18788.287700
 ..               ...               ...                       ...
 374            65.56               293             203012.335504
 375            52.95               285             211215.299625
 376            55.73               330             129040.541216
 377            43.20               293             168284.666880
 378            75.57               142             541537.325406

      package volume  stock age
 0               277        NaN
 1               291        NaN
 2               169        NaN
 3               443        NaN
 4                45        NaN
 ..              ...        ...
 374             464        NaN
 375             163        NaN
 376             755        NaN
 377             889        NaN
 378             860        NaN

 [379 rows x 10 columns]}

In [7]:
df_StoreCs['Info'].columns = ['item_code', 'store_name', 'mass', 'dimension_length',
       'dimension_width', 'dimension_height', 'days_since_last_purchase',
       'package_volume', 'stock_age', 'toremove']

In [8]:
df_StoreCs['Info'].drop('toremove', axis=1, inplace=True)

In [9]:
# format
df_StoreC = pd.merge(df_StoreCs['Quantity'], df_StoreCs['Info'], left_on = 'item_code' , right_on = 'item_code')
df_StoreC.set_index('item_code', inplace=True)
df_StoreC

,quantity_sold,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age
item_code,,,,,,,,,
P0003,198,SuperSaver_Outlet,2.40,50.90,8.80,68.82,337,30825.854400,277
P0007,211,SuperSaver_Outlet,9.88,43.65,48.64,55.78,16,118428.526080,291
P0008,200,SuperSaver_Outlet,1.45,36.18,10.23,69.14,315,25590.193596,169
P0009,209,SuperSaver_Outlet,6.98,48.13,45.55,44.66,295,97909.078190,443
P0012,186,SuperSaver_Outlet,7.20,23.66,65.90,12.05,40,18788.287700,45
...,...,...,...,...,...,...,...,...,...
P1976,236,SuperSaver_Outlet,5.10,62.99,49.16,65.56,293,203012.335504,464
P1980,192,SuperSaver_Outlet,4.93,74.91,53.25,52.95,285,211215.299625,163
P1986,193,SuperSaver_Outlet,4.24,31.52,73.46,55.73,330,129040.541216,755
P1993,185,SuperSaver_Outlet,3.21,97.68,39.88,43.20,293,168284.666880,889
P2000,250,SuperSaver_Outlet,4.94,98.34,72.87,75.57,142,541537.325406,860

#### HighStreet_Bazaar

In [10]:
# read
df_StoreD = pd.read_json('HighStreet_Bazaar_data.json', orient='records')
df_StoreD

,item_code,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
0,P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,1672531200000
1,P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,1673395200000
2,P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,1673740800000
3,P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,1673913600000
4,P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,1674172800000
...,...,...,...,...,...,...,...,...,...,...,...
391,P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
392,P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
393,P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
394,P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
395,P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

In [11]:
# format
df_StoreD.set_index('item_code', inplace=True)
df_StoreD

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0001,HighStreet_Bazaar,6.11,75.46,91.62,92.08,78.0,636608.450016,237,346,1672531200000
P0011,HighStreet_Bazaar,4.34,16.97,93.21,54.58,344.0,86333.208546,184,218,1673395200000
P0015,HighStreet_Bazaar,1.37,58.93,11.28,73.87,344.0,49103.634648,946,315,1673740800000
P0017,HighStreet_Bazaar,7.27,51.51,39.21,16.17,138.0,32658.663807,268,228,1673913600000
P0020,HighStreet_Bazaar,0.89,57.50,69.84,6.12,333.0,24576.696000,396,228,1674172800000
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

#### Aggregate

In [13]:
data = pd.concat([df_StoreA, df_StoreB, df_StoreC, df_StoreD], axis=0)
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified
item_code,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08
...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000

#### Simple baseline

In [32]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error, accuracy_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
import numpy as np

def get_simple_baseline(data, fillna_value=-1, drop_cols=None, k_fold=5, scaler='standard', model='linear', metric='mae', target_col=None, X_data_test=None):
    
    data = data.copy()
    # Handle missing values
    data.fillna(fillna_value, inplace=True)
    if X_data_test is not None:
        X_data_test = X_data_test.copy()
        X_data_test.fillna(fillna_value, inplace=True)
    
    # Drop unwanted columns
    if drop_cols:
        data.drop(drop_cols, axis=1, inplace=True)
        if X_data_test is not None:
            X_data_test.drop(drop_cols, axis=1, inplace=True)

    # Split data into features (X) and target (y)
    y = data[target_col]
    X = data.drop(target_col, axis=1)

    # Feature scaling
    if scaler == 'standard':
        scaler = StandardScaler()
    elif scaler == 'minmax':
        scaler = MinMaxScaler()
    else:
        scaler = None
    
    if scaler:
        X = scaler.fit_transform(X)
        if X_data_test is not None:
            X_data_test = scaler.transform(X_data_test)

    # Initialize the model
    if model == 'linear':
        model = LinearRegression()
    elif model == 'logistic':
        model = LogisticRegression()
    elif model == 'random_forest':
        model = RandomForestClassifier()
    else:
        raise ValueError("Unsupported model type")

    # Initialize cross-validation
    kf = KFold(n_splits=k_fold, shuffle=True, random_state=42)
    scores = []

    # Train and evaluate using k-fold cross-validation
    for train_index, test_index in kf.split(X):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        
        # Train the model
        model.fit(X_train, y_train)
        
        # Make predictions
        y_pred = model.predict(X_test)
        
        # Evaluate using the specified metric
        if metric == 'mae':
            score = mean_absolute_error(y_test, y_pred)
        elif metric == 'accuracy':
            score = accuracy_score(y_test, np.round(y_pred))
        else:
            raise ValueError("Unsupported metric")

        scores.append(score)

    if X_data_test is not None:
        model.fit(X, y)
        return np.mean(scores), model.predict(X_data_test)
    
    # Return the average score
    return np.mean(scores)

In [16]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

45.04056766700087

### API sources

In [18]:
def get_api(endpoint_url):
    try:
        # Make the GET request to the mock API
        response = requests.get(endpoint_url)

        if response.status_code == 200:
            data = response.json()
            print(data["message"])
            return data['data']
        else:
            print(f"Failed to retrieve volume data. Status code: {response.status_code}")
    
    except Exception as e:
        print(f"An error occurred: {e}")
password = get_api("https://www.raphaelcousin.com/api/exercise/auth")["password"]
volumes = get_api(f"https://www.raphaelcousin.com/api/exercise/{password}/prices")

Authentication successful
Volume data retrieved successfully

In [19]:
df_volumes = pd.DataFrame.from_dict(volumes, orient='index', columns=['prices'])

In [20]:
df_volumes

       prices
P0001   22.14
P0002   26.91
P0003   16.90
P0004    7.04
P0005   20.84
...       ...
P1996   25.80
P1997   26.05
P1998   17.41
P1999    7.57
P2000   14.42

[2000 rows x 1 columns]

#### Aggregate

In [21]:
data = pd.merge(data, df_volumes, left_index=True, right_index=True, how='left')
data

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,quantity_sold,last_modified,prices
item_code,,,,,,,,,,,
P0019,CityMart,2.81,26.83,38.75,24.89,323.0,25877.199625,253,202,2023-01-19,17.86
P0024,CityMart,3.30,59.23,34.99,21.78,321.0,45138.128706,21,225,2023-01-24,14.04
P0025,CityMart,2.34,22.60,16.90,60.12,291.0,22962.232800,316,278,2023-01-25,3.38
P0034,CityMart,6.54,18.59,68.72,21.99,126.0,28092.330552,612,233,2023-02-03,15.11
P0039,CityMart,9.94,57.89,88.33,35.45,312.0,181270.870165,968,203,2023-02-08,14.20
...,...,...,...,...,...,...,...,...,...,...,...
P1978,HighStreet_Bazaar,6.28,72.48,47.71,83.54,322.0,288883.057632,637,235,1843344000000,15.85
P1981,HighStreet_Bazaar,0.91,31.13,55.22,71.22,342.0,122427.080292,60,241,1843603200000,17.98
P1982,HighStreet_Bazaar,4.65,65.72,82.01,60.75,192.0,327424.104900,925,237,1843689600000,17.75
P1987,HighStreet_Bazaar,4.64,93.41,52.53,41.02,131.0,201278.055846,317,256,1844121600000,22.68
P1994,HighStreet_Bazaar,5.43,11.20,56.52,14.73,128.0,9324.443520,315,287,1844726400000,20.48

In [23]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

44.10144429622424

### Scrapping sources

In [24]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# Set up the Selenium WebDriver (e.g., Chrome)
driver = webdriver.Chrome()  # Make sure ChromeDriver is installed
# driver = webdriver.Firefox()
# driver = webdriver.Edge()
# driver = webdriver.Safari()

# Open the URL
url = 'https://www.raphaelcousin.com/module4/scrapable-data'
driver.get(url)

# Wait for the page to fully load (increase time if needed)
time.sleep(5)

# Get the fully rendered page source
html = driver.page_source

# Parse the HTML with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# Initialize lists to store scraped data
course_data = []
exercise_data = []

# Find both tables
tables = soup.find_all('table')

# Close the Selenium WebDriver
driver.quit()

# Scrape the first table (Course Data)
course_table = tables[1]
for row in course_table.find('tbody').find_all('tr'):
    cols = row.find_all('td')
    course_data.append({
        'Item Code': cols[0].text,
        'Customer Score': float(cols[1].text),
        'Total Reviews': int(cols[2].text),
    })

# Convert the lists to pandas DataFrames
df_course = pd.DataFrame(course_data)
df_course

     Item Code  Customer Score  Total Reviews
0        P0001             2.0            972
1        P0002             3.0            260
2        P0003             2.0            285
3        P0004             5.0            512
4        P0005             3.0             85
...        ...             ...            ...
1995     P1996             5.0            512
1996     P1997             2.0            989
1997     P1998             2.0            440
1998     P1999             4.0             37
1999     P2000             4.0            701

[2000 rows x 3 columns]

In [25]:
### format
df_course.set_index('Item Code', inplace=True)

#### Aggregate

In [26]:
data = pd.merge(data, df_course, left_index=True, right_index=True, how='left')

In [28]:
get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold')

40.02769508950211

### Generating Submission File

In [29]:
# X_test =  read  Neighborhood_Market_data

# read
df_StoreE =  pd.read_csv("Neighborhood_Market_data.csv", sep=",", index_col='item_code')
df_StoreE

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified
item_code,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13
...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21

In [30]:
df_StoreE = pd.merge(df_StoreE, df_volumes, left_index=True, right_index=True, how='left')
df_StoreE = pd.merge(df_StoreE, df_course, left_index=True, right_index=True, how='left')
df_StoreE

,store_name,mass,dimension_length,dimension_width,dimension_height,days_since_last_purchase,package_volume,stock_age,last_modified,prices,Customer Score,Total Reviews
item_code,,,,,,,,,,,,
P0002,Neighborhood_Market,5.51,51.79,46.72,72.02,344,174261.666176,287,2023-01-02,26.91,3.0,260
P0004,Neighborhood_Market,3.97,84.63,39.42,42.46,189,141651.425916,387,2023-01-04,7.04,5.0,512
P0005,Neighborhood_Market,5.99,39.33,83.51,5.12,183,16816.375296,382,2023-01-05,20.84,3.0,85
P0010,Neighborhood_Market,4.10,77.43,49.56,74.41,208,285543.225828,656,2023-01-10,10.00,2.0,709
P0013,Neighborhood_Market,6.96,95.39,34.61,23.24,114,76725.649196,755,2023-01-13,12.98,3.0,984
...,...,...,...,...,...,...,...,...,...,...,...,...
P1972,Neighborhood_Market,5.68,17.89,71.87,95.67,296,123008.113881,411,2028-05-25,15.88,2.0,854
P1977,Neighborhood_Market,1.53,84.32,64.91,66.30,171,362873.902560,702,2028-05-30,16.21,1.0,991
P1991,Neighborhood_Market,7.79,84.46,82.96,52.14,50,365334.635424,190,2028-06-13,15.32,1.0,572
P1997,Neighborhood_Market,8.91,66.50,5.79,41.11,336,15828.788850,177,2028-06-19,26.05,2.0,989
P1999,Neighborhood_Market,2.03,66.77,60.18,73.20,190,294133.601520,806,2028-06-21,7.57,4.0,37

In [38]:
_, x_pred = get_simple_baseline(data, fillna_value=-1, drop_cols=['store_name', 'last_modified'], k_fold=5, scaler='standard', model='linear', metric='mae', target_col='quantity_sold', X_data_test = df_StoreE)

In [39]:
submission = pd.DataFrame({
    'item_code': X_test.index,
    'quantity_sold': 0 # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

  item_code  quantity_sold
0     P0002     160.697917
1     P0004     244.752360
2     P0005     159.974462
3     P0010     227.499067
4     P0013     241.328037

In [ ]:
submission = pd.DataFrame({
    'item_code': df_StoreE.index,
    'quantity_sold': x_pred # your_prediction
})

submission.to_csv('submission.csv', index=False, sep=',')
submission.head()

In [36]:
df_StoreE.shape

(409, 12)

In [37]:
x_pred.shape

AttributeError: 'tuple' object has no attribute 'shape'